# 1 - Caricamento Dati Borsa

## Caricamento librerie/moduli

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import metcomputlib as mc

In [2]:
mc.Ver()

------------------------------------------------------------------------------------------
Saturday, March 15, 2025, 23:18:26
Platform : macOS-15.3.2-arm64-arm-64bit
------------------------------------------------------------------------------------------
Python 3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:22:19) [Clang 14.0.6 ]
JupyterLab 4.3.4
------------------------------------------------------------------------------------------
Matplotlib 3.9.2
Pandas 2.2.2
NumPy 1.26.4
SciPy 1.13.1
------------------------------------------------------------------------------------------

## Caricamento file csv come DataFrame

In [3]:
# load AAPL.csv in a DataFrame
Aapl = pd.read_csv('AAPL.csv')

In [4]:
Aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100326,469033600
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095092,175884800
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088112,105728000
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090293,86441600
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092911,73449600
...,...,...,...,...,...,...,...
10421,2022-04-12,168.020004,169.869995,166.639999,167.660004,167.660004,79265200
10422,2022-04-13,167.389999,171.039993,166.770004,170.399994,170.399994,70618900
10423,2022-04-14,170.619995,171.270004,165.039993,165.289993,165.289993,75237500
10424,2022-04-18,163.919998,166.600006,163.570007,165.070007,165.070007,69023900
10425,2022-04-19,165.020004,167.820007,163.910004,167.399994,167.399994,67627500

In [5]:
type(Aapl)

pandas.core.frame.DataFrame

# Sottoinsiemi di un DataFrame: DataFrame e TimeSeries

In [6]:
Aapl.Date

0        1980-12-12
1        1980-12-15
2        1980-12-16
3        1980-12-17
4        1980-12-18
            ...
10421    2022-04-12
10422    2022-04-13
10423    2022-04-14
10424    2022-04-18
10425    2022-04-19
Name: Date, Length: 10426, dtype: object

In [7]:
type(Aapl.Date)

pandas.core.series.Series

In [8]:
Aapl['Date']

0        1980-12-12
1        1980-12-15
2        1980-12-16
3        1980-12-17
4        1980-12-18
            ...
10421    2022-04-12
10422    2022-04-13
10423    2022-04-14
10424    2022-04-18
10425    2022-04-19
Name: Date, Length: 10426, dtype: object

In [9]:
type(Aapl['Date'])

pandas.core.series.Series

In [10]:
Aapl[['Date']]

             Date
0      1980-12-12
1      1980-12-15
2      1980-12-16
3      1980-12-17
4      1980-12-18
...           ...
10421  2022-04-12
10422  2022-04-13
10423  2022-04-14
10424  2022-04-18
10425  2022-04-19

[10426 rows x 1 columns]

In [11]:
type(Aapl[['Date']])

pandas.core.frame.DataFrame

## Come estrarre i dati di un DataFrame

In [12]:
Aapl['Date'].values

array(['1980-12-12', '1980-12-15', '1980-12-16', ..., '2022-04-14',
       '2022-04-18', '2022-04-19'], dtype=object)

In [13]:
type(Aapl['Date'].values)

numpy.ndarray

In [14]:
D=Aapl['Date'].values

In [15]:
D[0]

'1980-12-12'

In [16]:
type(D[0])

str

## Convertire le date da stringhe a datetime

In [17]:
# convert the 'Date' column with custom format - if 'coerce' then invalid parsing will be set as NaT
Aapl['Date'] = pd.to_datetime(Aapl['Date'], format='%Y-%m-%d', errors='coerce')

In [18]:
D=Aapl['Date'].values

In [19]:
type(D)

numpy.ndarray

In [20]:
D[0]

numpy.datetime64('1980-12-12T00:00:00.000000000')

In [21]:
type(D[0])

numpy.datetime64

In [22]:
print(D[0])

1980-12-12T00:00:00.000000000

## Approfondimenti su estrazione di parte di un DataFrame

In [23]:
Aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100326,469033600
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095092,175884800
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088112,105728000
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090293,86441600
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092911,73449600
...,...,...,...,...,...,...,...
10421,2022-04-12,168.020004,169.869995,166.639999,167.660004,167.660004,79265200
10422,2022-04-13,167.389999,171.039993,166.770004,170.399994,170.399994,70618900
10423,2022-04-14,170.619995,171.270004,165.039993,165.289993,165.289993,75237500
10424,2022-04-18,163.919998,166.600006,163.570007,165.070007,165.070007,69023900
10425,2022-04-19,165.020004,167.820007,163.910004,167.399994,167.399994,67627500

In [24]:
Aapl.shape # number of rows and column

(10426, 7)

In [25]:
Aapl[['Date','Close']] # subtable with 2 columns

            Date       Close
0     1980-12-12    0.128348
1     1980-12-15    0.121652
2     1980-12-16    0.112723
3     1980-12-17    0.115513
4     1980-12-18    0.118862
...          ...         ...
10421 2022-04-12  167.660004
10422 2022-04-13  170.399994
10423 2022-04-14  165.289993
10424 2022-04-18  165.070007
10425 2022-04-19  167.399994

[10426 rows x 2 columns]

In [26]:
Aapl.iloc[9:25, 2:5] # Select specific rows and/or columns using iloc when using the positions in the table

        High       Low     Close
9   0.159040  0.158482  0.158482
10  0.161272  0.160714  0.160714
11  0.157366  0.156808  0.156808
12  0.152902  0.152344  0.152344
13  0.155134  0.154018  0.154018
14  0.151228  0.150670  0.150670
15  0.144531  0.143973  0.143973
16  0.138393  0.137835  0.137835
17  0.135603  0.135045  0.135045
18  0.142857  0.142299  0.142299
19  0.142299  0.141183  0.141183
20  0.136719  0.136161  0.136161
21  0.137277  0.136719  0.136719
22  0.140625  0.139509  0.139509
23  0.138951  0.138393  0.138393
24  0.147321  0.146763  0.146763

In [27]:
Aapl.loc[9:25, ['Open','Close']] # Select specific rows and/or columns using loc when using the row and column names

        Open     Close
9   0.158482  0.158482
10  0.160714  0.160714
11  0.157366  0.156808
12  0.152902  0.152344
13  0.154018  0.154018
14  0.151228  0.150670
15  0.144531  0.143973
16  0.138393  0.137835
17  0.135603  0.135045
18  0.142299  0.142299
19  0.142299  0.141183
20  0.136719  0.136161
21  0.136719  0.136719
22  0.139509  0.139509
23  0.138951  0.138393
24  0.146763  0.146763
25  0.142857  0.142299

In [28]:
Aapl.iloc[[0,-1], :]

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100326,469033600
10425,2022-04-19,165.020004,167.820007,163.910004,167.399994,167.399994,67627500

## Verificare che i dati siano in ordine temporale crescente

In [29]:
Aapl.iloc[0, 0] < Aapl.iloc[-1, 0]

True

In [30]:
Aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100326,469033600
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095092,175884800
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088112,105728000
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090293,86441600
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092911,73449600
...,...,...,...,...,...,...,...
10421,2022-04-12,168.020004,169.869995,166.639999,167.660004,167.660004,79265200
10422,2022-04-13,167.389999,171.039993,166.770004,170.399994,170.399994,70618900
10423,2022-04-14,170.619995,171.270004,165.039993,165.289993,165.289993,75237500
10424,2022-04-18,163.919998,166.600006,163.570007,165.070007,165.070007,69023900
10425,2022-04-19,165.020004,167.820007,163.910004,167.399994,167.399994,67627500

In [31]:
Aapl.iloc[::-1] # how to flip the DataFrame updown

,Date,Open,High,Low,Close,Adj Close,Volume
10425,2022-04-19,165.020004,167.820007,163.910004,167.399994,167.399994,67627500
10424,2022-04-18,163.919998,166.600006,163.570007,165.070007,165.070007,69023900
10423,2022-04-14,170.619995,171.270004,165.039993,165.289993,165.289993,75237500
10422,2022-04-13,167.389999,171.039993,166.770004,170.399994,170.399994,70618900
10421,2022-04-12,168.020004,169.869995,166.639999,167.660004,167.660004,79265200
...,...,...,...,...,...,...,...
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092911,73449600
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090293,86441600
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088112,105728000
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095092,175884800
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100326,469033600

In [32]:
D=Aapl['Date'].values

In [33]:
any(D[:-1]>=D[1:])

False

## Verificare la presenza di NaN

In [34]:
N=Aapl.iloc[:, 1:].values

In [35]:
N

array([[1.28348000e-01, 1.28906000e-01, 1.28348000e-01, 1.28348000e-01,
        1.00326000e-01, 4.69033600e+08],
       [1.22210000e-01, 1.22210000e-01, 1.21652000e-01, 1.21652000e-01,
        9.50920000e-02, 1.75884800e+08],
       [1.13281000e-01, 1.13281000e-01, 1.12723000e-01, 1.12723000e-01,
        8.81120000e-02, 1.05728000e+08],
       ...,
       [1.70619995e+02, 1.71270004e+02, 1.65039993e+02, 1.65289993e+02,
        1.65289993e+02, 7.52375000e+07],
       [1.63919998e+02, 1.66600006e+02, 1.63570007e+02, 1.65070007e+02,
        1.65070007e+02, 6.90239000e+07],
       [1.65020004e+02, 1.67820007e+02, 1.63910004e+02, 1.67399994e+02,
        1.67399994e+02, 6.76275000e+07]])

In [36]:
type(N)

numpy.ndarray

In [37]:
np.isnan(N).any()

False

## Come caricare una tabella di prezzi?

In [38]:
# load AAPL.csv in a DataFrame - rows with NaN are dropped
Aapl = pd.read_csv('AAPL.csv').dropna()

# convert the 'Date' column with custom format - if 'coerce' then invalid parsing will be set as NaT
Aapl['Date'] = pd.to_datetime(Aapl['Date'], format='%Y-%m-%d', errors='coerce')

# Check NaN presence
N=Aapl.iloc[:, 1:].values
np.isnan(N).any()

# Flip if not in time ascending order
if Aapl.iloc[0, 0] > Aapl.iloc[-1, 0]:
    Aapl = Aapl[::-1].reset_index(drop=True)

# Check time ascending order
D=Aapl['Date'].values
any(D[:-1]>=D[1:])

False

## Function per caricare una tabella di prezzi

In [39]:
def ReadStockPrices(filename):
    T = pd.read_csv(filename).dropna() # Load the table
    T['Date'] = pd.to_datetime(T['Date'], format='%Y-%m-%d', errors='coerce') # Convert Date in datetime
    N=T.iloc[:, 1:].values
    if np.isnan(N).any(): # Check NaN presence
        raise ValueError("NaN values still present")
    if T.iloc[0, 0] > T.iloc[-1, 0]: # Flip if not in time ascending order
        T = T[::-1].reset_index(drop=True)
    D=T['Date'].values
    if any(D[:-1]>=D[1:]): # Check time ascending order
        raise ValueError("Data not in time ascending order")
    return T

In [40]:
Aapl = ReadStockPrices('AAPL.csv')

In [41]:
Aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100326,469033600
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095092,175884800
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088112,105728000
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090293,86441600
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092911,73449600
...,...,...,...,...,...,...,...
10421,2022-04-12,168.020004,169.869995,166.639999,167.660004,167.660004,79265200
10422,2022-04-13,167.389999,171.039993,166.770004,170.399994,170.399994,70618900
10423,2022-04-14,170.619995,171.270004,165.039993,165.289993,165.289993,75237500
10424,2022-04-18,163.919998,166.600006,163.570007,165.070007,165.070007,69023900
10425,2022-04-19,165.020004,167.820007,163.910004,167.399994,167.399994,67627500